/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
body{
    font-family: sans-serif;

}
/*Utils*/
.container{
    max-width: 600px;
    margin: 0 auto;
}
.slideshow{
    max-width:500px ;
    margin: 0 auto;
}

header{
    background-color: cyan;
    padding: 10px 0;
}

main section, main .slideshow-section{
    padding: 20px 0;
}

footer{
    background-color: black;
    padding-top: 10px;
    border-top: 2px solid gray;
}

.border-2{
    border: 2px dashed black;
}
.border-2-white{
    border: 2px dashed white;
}
main section:nth-of-type(odd){
    background-color: white;
}
main section:nth-of-type(even){
    background-color: gray;
}

/*Utilities*/
.flex-container{
    display: flex;
}

.menu-container{
    min-height: 40px;
    background-color: goldenrod;
}
.flex-60{
    flex-basis: 60%;
 }

.flex-20{
    flex-basis: 20%;
 }
 .flex-25{
    flex-basis:25%;
 }
.flex-33{
    flex-basis: 33.33%;
}
.flex-66{
    flex-basis: 66.66%;;
}
.flex-80{
    flex-basis: 80%;
}
.flex-100{
    flex-basis:100%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.p-10{
    padding: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.min-height-300{
    min-height: 300px;
}
.min-height-500{
    min-height: 500px;
}

.bg-color-pink{
    background-color: pink;
}
.bg-color-blue{
    background-color: lightblue;
}
.bg-color-green{
    background-color: green;
}
.bg-color-aqua{
    background-color: #20b2aa;
}
.bg-color-lightaqua{
    background-color: #7fffd4;                           
}
.bg-color-darkblue{
    background-color: #00008b;
}
.bg-color-lavander{
    background-color: #ee82ee;
}
.bg-color-black{
    background-color: black;
}
.space-between{
    justify-content: space-between;
}